<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>COMP263 Deep Learning - Group 4</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
    </head>
    <body>
        <header>
            <h1>Supervised Model</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('homepage') }}">Homepage</a></li>
                    <li><a href="{{ url_for('unsupervisedModel') }}">Unsupervised Model</a></li>
                    <li><a href="{{ url_for('sotaModel') }}">State of the Art Model</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <!-- Add Content Here -->
        </main>
        <footer>
            <p>&copy; 2025 COMP263 - Group 4. All Rights Reserved.</p>
        </footer>
    </body>
</html>