<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>COMP263 Deep Learning - Group 4</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"/>
    </head>
    <body>
        <header>
            <h1>Unsupervised Model</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('homepage') }}">Homepage</a></li>
                    <li><a href="{{ url_for('supervisedModel') }}">Supervised Model</a></li>
                    <li><a href="{{ url_for('sotaModel') }}">State of the Art Model</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="image-section">
                <h1>GAN Generated Image vs Dataset Image Comparison</h1>
                <div class="image-row">
                    <div>
                        <h3>Generated Image</h3>
                        <img id="generatedImage" src="" width="300" />
                    </div>
                    <div>
                        <h3>Real Image</h3>
                        <img id="realImage" src="" width="300" />
                    </div>
                </div>
                <button onclick="generateImages()">Generate Image</button>
            </div>

            <script>
                function generateImages() {
                    fetch('/generate')
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById('generatedImage').src = 'data:image/png;base64,' + data.fake;
                            document.getElementById('realImage').src = 'data:image/png;base64,' + data.real;
                        });
                }
            </script>
        </main>
        <footer>
            <p>&copy; 2025 COMP263 - Group 4. All Rights Reserved.</p>
        </footer>
    </body>
</html>